html, body {
  scroll-behavior: smooth;
}

*, *:after, *:before {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  line-height: 1em;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
  font-size: 1rem;
}

button {
  font-size: 1rem;
  border: none;
  padding: 0.5rem 1rem;
}

hr {
  height: 1px;
  background-color: black;
  border: none;
}

fieldset {
  border: 1px solid #444;
  border-radius: 0.25rem;
  padding: 1rem;
}

fieldset legend {
  padding: 1rem;
}

input, textarea {
  border: 0px;
  padding: 0.5rem;
  font-size: 1rem;
}

a {
  text-decoration: none;
}

.grid {
  display: -ms-grid;
  display: grid;
  gap: 1rem;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.grid-auto {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(0, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
}

.grid-1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (calc(100% / 1))[auto-fit];
      grid-template-columns: repeat(auto-fit, calc(100% / 1));
}

@media only screen and (max-width: 599px) {
  .grid-1-small {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (calc(100% / 1))[auto-fit];
        grid-template-columns: repeat(auto-fit, calc(100% / 1));
  }
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .grid-1-medium {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (calc(100% / 1))[auto-fit];
        grid-template-columns: repeat(auto-fit, calc(100% / 1));
  }
}

@media only screen and (min-width: 1025px) {
  .grid-1-large {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (calc(100% / 1))[auto-fit];
        grid-template-columns: repeat(auto-fit, calc(100% / 1));
  }
}

@media only screen and (min-width: 600px) {
  .grid-1-medium-plus {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (calc(100% / 1))[auto-fit];
        grid-template-columns: repeat(auto-fit, calc(100% / 1));
  }
}

.grid-2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (calc(100% / 2))[auto-fit];
      grid-template-columns: repeat(auto-fit, calc(100% / 2));
}

@media only screen and (max-width: 599px) {
  .grid-2-small {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (calc(100% / 2))[auto-fit];
        grid-template-columns: repeat(auto-fit, calc(100% / 2));
  }
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .grid-2-medium {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (calc(100% / 2))[auto-fit];
        grid-template-columns: repeat(auto-fit, calc(100% / 2));
  }
}

@media only screen and (min-width: 1025px) {
  .grid-2-large {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (calc(100% / 2))[auto-fit];
        grid-template-columns: repeat(auto-fit, calc(100% / 2));
  }
}

@media only screen and (min-width: 600px) {
  .grid-2-medium-plus {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (calc(100% / 2))[auto-fit];
        grid-template-columns: repeat(auto-fit, calc(100% / 2));
  }
}

.grid-3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (calc(100% / 3))[auto-fit];
      grid-template-columns: repeat(auto-fit, calc(100% / 3));
}

@media only screen and (max-width: 599px) {
  .grid-3-small {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (calc(100% / 3))[auto-fit];
        grid-template-columns: repeat(auto-fit, calc(100% / 3));
  }
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .grid-3-medium {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (calc(100% / 3))[auto-fit];
        grid-template-columns: repeat(auto-fit, calc(100% / 3));
  }
}

@media only screen and (min-width: 1025px) {
  .grid-3-large {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (calc(100% / 3))[auto-fit];
        grid-template-columns: repeat(auto-fit, calc(100% / 3));
  }
}

@media only screen and (min-width: 600px) {
  .grid-3-medium-plus {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (calc(100% / 3))[auto-fit];
        grid-template-columns: repeat(auto-fit, calc(100% / 3));
  }
}

.grid-4 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (calc(100% / 4))[auto-fit];
      grid-template-columns: repeat(auto-fit, calc(100% / 4));
}

@media only screen and (max-width: 599px) {
  .grid-4-small {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (calc(100% / 4))[auto-fit];
        grid-template-columns: repeat(auto-fit, calc(100% / 4));
  }
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .grid-4-medium {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (calc(100% / 4))[auto-fit];
        grid-template-columns: repeat(auto-fit, calc(100% / 4));
  }
}

@media only screen and (min-width: 1025px) {
  .grid-4-large {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (calc(100% / 4))[auto-fit];
        grid-template-columns: repeat(auto-fit, calc(100% / 4));
  }
}

@media only screen and (min-width: 600px) {
  .grid-4-medium-plus {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (calc(100% / 4))[auto-fit];
        grid-template-columns: repeat(auto-fit, calc(100% / 4));
  }
}

.grid-5 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (calc(100% / 5))[auto-fit];
      grid-template-columns: repeat(auto-fit, calc(100% / 5));
}

@media only screen and (max-width: 599px) {
  .grid-5-small {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (calc(100% / 5))[auto-fit];
        grid-template-columns: repeat(auto-fit, calc(100% / 5));
  }
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .grid-5-medium {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (calc(100% / 5))[auto-fit];
        grid-template-columns: repeat(auto-fit, calc(100% / 5));
  }
}

@media only screen and (min-width: 1025px) {
  .grid-5-large {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (calc(100% / 5))[auto-fit];
        grid-template-columns: repeat(auto-fit, calc(100% / 5));
  }
}

@media only screen and (min-width: 600px) {
  .grid-5-medium-plus {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (calc(100% / 5))[auto-fit];
        grid-template-columns: repeat(auto-fit, calc(100% / 5));
  }
}

.grid-6 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (calc(100% / 6))[auto-fit];
      grid-template-columns: repeat(auto-fit, calc(100% / 6));
}

@media only screen and (max-width: 599px) {
  .grid-6-small {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (calc(100% / 6))[auto-fit];
        grid-template-columns: repeat(auto-fit, calc(100% / 6));
  }
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .grid-6-medium {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (calc(100% / 6))[auto-fit];
        grid-template-columns: repeat(auto-fit, calc(100% / 6));
  }
}

@media only screen and (min-width: 1025px) {
  .grid-6-large {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (calc(100% / 6))[auto-fit];
        grid-template-columns: repeat(auto-fit, calc(100% / 6));
  }
}

@media only screen and (min-width: 600px) {
  .grid-6-medium-plus {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (calc(100% / 6))[auto-fit];
        grid-template-columns: repeat(auto-fit, calc(100% / 6));
  }
}

.grid-7 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (calc(100% / 7))[auto-fit];
      grid-template-columns: repeat(auto-fit, calc(100% / 7));
}

@media only screen and (max-width: 599px) {
  .grid-7-small {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (calc(100% / 7))[auto-fit];
        grid-template-columns: repeat(auto-fit, calc(100% / 7));
  }
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .grid-7-medium {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (calc(100% / 7))[auto-fit];
        grid-template-columns: repeat(auto-fit, calc(100% / 7));
  }
}

@media only screen and (min-width: 1025px) {
  .grid-7-large {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (calc(100% / 7))[auto-fit];
        grid-template-columns: repeat(auto-fit, calc(100% / 7));
  }
}

@media only screen and (min-width: 600px) {
  .grid-7-medium-plus {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (calc(100% / 7))[auto-fit];
        grid-template-columns: repeat(auto-fit, calc(100% / 7));
  }
}

.grid-8 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (calc(100% / 8))[auto-fit];
      grid-template-columns: repeat(auto-fit, calc(100% / 8));
}

@media only screen and (max-width: 599px) {
  .grid-8-small {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (calc(100% / 8))[auto-fit];
        grid-template-columns: repeat(auto-fit, calc(100% / 8));
  }
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .grid-8-medium {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (calc(100% / 8))[auto-fit];
        grid-template-columns: repeat(auto-fit, calc(100% / 8));
  }
}

@media only screen and (min-width: 1025px) {
  .grid-8-large {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (calc(100% / 8))[auto-fit];
        grid-template-columns: repeat(auto-fit, calc(100% / 8));
  }
}

@media only screen and (min-width: 600px) {
  .grid-8-medium-plus {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (calc(100% / 8))[auto-fit];
        grid-template-columns: repeat(auto-fit, calc(100% / 8));
  }
}

.grid-9 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (calc(100% / 9))[auto-fit];
      grid-template-columns: repeat(auto-fit, calc(100% / 9));
}

@media only screen and (max-width: 599px) {
  .grid-9-small {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (calc(100% / 9))[auto-fit];
        grid-template-columns: repeat(auto-fit, calc(100% / 9));
  }
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .grid-9-medium {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (calc(100% / 9))[auto-fit];
        grid-template-columns: repeat(auto-fit, calc(100% / 9));
  }
}

@media only screen and (min-width: 1025px) {
  .grid-9-large {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (calc(100% / 9))[auto-fit];
        grid-template-columns: repeat(auto-fit, calc(100% / 9));
  }
}

@media only screen and (min-width: 600px) {
  .grid-9-medium-plus {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (calc(100% / 9))[auto-fit];
        grid-template-columns: repeat(auto-fit, calc(100% / 9));
  }
}

.grid-10 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (calc(100% / 10))[auto-fit];
      grid-template-columns: repeat(auto-fit, calc(100% / 10));
}

@media only screen and (max-width: 599px) {
  .grid-10-small {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (calc(100% / 10))[auto-fit];
        grid-template-columns: repeat(auto-fit, calc(100% / 10));
  }
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .grid-10-medium {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (calc(100% / 10))[auto-fit];
        grid-template-columns: repeat(auto-fit, calc(100% / 10));
  }
}

@media only screen and (min-width: 1025px) {
  .grid-10-large {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (calc(100% / 10))[auto-fit];
        grid-template-columns: repeat(auto-fit, calc(100% / 10));
  }
}

@media only screen and (min-width: 600px) {
  .grid-10-medium-plus {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (calc(100% / 10))[auto-fit];
        grid-template-columns: repeat(auto-fit, calc(100% / 10));
  }
}

.grid-11 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (calc(100% / 11))[auto-fit];
      grid-template-columns: repeat(auto-fit, calc(100% / 11));
}

@media only screen and (max-width: 599px) {
  .grid-11-small {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (calc(100% / 11))[auto-fit];
        grid-template-columns: repeat(auto-fit, calc(100% / 11));
  }
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .grid-11-medium {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (calc(100% / 11))[auto-fit];
        grid-template-columns: repeat(auto-fit, calc(100% / 11));
  }
}

@media only screen and (min-width: 1025px) {
  .grid-11-large {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (calc(100% / 11))[auto-fit];
        grid-template-columns: repeat(auto-fit, calc(100% / 11));
  }
}

@media only screen and (min-width: 600px) {
  .grid-11-medium-plus {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (calc(100% / 11))[auto-fit];
        grid-template-columns: repeat(auto-fit, calc(100% / 11));
  }
}

.grid-12 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (calc(100% / 12))[auto-fit];
      grid-template-columns: repeat(auto-fit, calc(100% / 12));
}

@media only screen and (max-width: 599px) {
  .grid-12-small {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (calc(100% / 12))[auto-fit];
        grid-template-columns: repeat(auto-fit, calc(100% / 12));
  }
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .grid-12-medium {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (calc(100% / 12))[auto-fit];
        grid-template-columns: repeat(auto-fit, calc(100% / 12));
  }
}

@media only screen and (min-width: 1025px) {
  .grid-12-large {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (calc(100% / 12))[auto-fit];
        grid-template-columns: repeat(auto-fit, calc(100% / 12));
  }
}

@media only screen and (min-width: 600px) {
  .grid-12-medium-plus {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (calc(100% / 12))[auto-fit];
        grid-template-columns: repeat(auto-fit, calc(100% / 12));
  }
}

.span-2 {
  -ms-grid-column-span: 2;
      grid-column-end: span 2;
}

.span-3 {
  -ms-grid-column-span: 3;
      grid-column-end: span 3;
}

.span-4 {
  -ms-grid-column-span: 4;
      grid-column-end: span 4;
}

.span-5 {
  -ms-grid-column-span: 5;
      grid-column-end: span 5;
}

.span-6 {
  -ms-grid-column-span: 6;
      grid-column-end: span 6;
}

.span-7 {
  -ms-grid-column-span: 7;
      grid-column-end: span 7;
}

.span-8 {
  -ms-grid-column-span: 8;
      grid-column-end: span 8;
}

.span-9 {
  -ms-grid-column-span: 9;
      grid-column-end: span 9;
}

.span-10 {
  -ms-grid-column-span: 10;
      grid-column-end: span 10;
}

.span-11 {
  -ms-grid-column-span: 11;
      grid-column-end: span 11;
}

.span-12 {
  -ms-grid-column-span: 12;
      grid-column-end: span 12;
}

.start-1 {
  -ms-grid-column: 1;
      grid-column-start: 1;
}

.start-2 {
  -ms-grid-column: 2;
      grid-column-start: 2;
}

.start-3 {
  -ms-grid-column: 3;
      grid-column-start: 3;
}

.start-4 {
  -ms-grid-column: 4;
      grid-column-start: 4;
}

.start-5 {
  -ms-grid-column: 5;
      grid-column-start: 5;
}

.start-6 {
  -ms-grid-column: 6;
      grid-column-start: 6;
}

.start-7 {
  -ms-grid-column: 7;
      grid-column-start: 7;
}

.start-8 {
  -ms-grid-column: 8;
      grid-column-start: 8;
}

.start-9 {
  -ms-grid-column: 9;
      grid-column-start: 9;
}

.start-10 {
  -ms-grid-column: 10;
      grid-column-start: 10;
}

.start-11 {
  -ms-grid-column: 11;
      grid-column-start: 11;
}

.start-12 {
  -ms-grid-column: 12;
      grid-column-start: 12;
}

@media only screen and (max-width: 599px) {
  .start-1-small {
    -ms-grid-column: 1;
        grid-column-start: 1;
  }
  .span-1-small {
    -ms-grid-column-span: 1;
        grid-column-end: span 1;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .start-1-medium {
    -ms-grid-column: 1;
        grid-column-start: 1;
  }
  .span-1-medium {
    -ms-grid-column-span: 1;
        grid-column-end: span 1;
  }
}

@media only screen and (min-width: 1025px) {
  .start-1-large {
    -ms-grid-column: 1;
        grid-column-start: 1;
  }
  .span-1-large {
    -ms-grid-column-span: 1;
        grid-column-end: span 1;
  }
}

@media only screen and (min-width: 600px) {
  .start-1-medium-plus {
    -ms-grid-column: 1;
        grid-column-start: 1;
  }
  .span-1-medium-plus {
    -ms-grid-column-span: 1;
        grid-column-end: span 1;
  }
}

@media only screen and (max-width: 599px) {
  .start-2-small {
    -ms-grid-column: 2;
        grid-column-start: 2;
  }
  .span-2-small {
    -ms-grid-column-span: 2;
        grid-column-end: span 2;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .start-2-medium {
    -ms-grid-column: 2;
        grid-column-start: 2;
  }
  .span-2-medium {
    -ms-grid-column-span: 2;
        grid-column-end: span 2;
  }
}

@media only screen and (min-width: 1025px) {
  .start-2-large {
    -ms-grid-column: 2;
        grid-column-start: 2;
  }
  .span-2-large {
    -ms-grid-column-span: 2;
        grid-column-end: span 2;
  }
}

@media only screen and (min-width: 600px) {
  .start-2-medium-plus {
    -ms-grid-column: 2;
        grid-column-start: 2;
  }
  .span-2-medium-plus {
    -ms-grid-column-span: 2;
        grid-column-end: span 2;
  }
}

@media only screen and (max-width: 599px) {
  .start-3-small {
    -ms-grid-column: 3;
        grid-column-start: 3;
  }
  .span-3-small {
    -ms-grid-column-span: 3;
        grid-column-end: span 3;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .start-3-medium {
    -ms-grid-column: 3;
        grid-column-start: 3;
  }
  .span-3-medium {
    -ms-grid-column-span: 3;
        grid-column-end: span 3;
  }
}

@media only screen and (min-width: 1025px) {
  .start-3-large {
    -ms-grid-column: 3;
        grid-column-start: 3;
  }
  .span-3-large {
    -ms-grid-column-span: 3;
        grid-column-end: span 3;
  }
}

@media only screen and (min-width: 600px) {
  .start-3-medium-plus {
    -ms-grid-column: 3;
        grid-column-start: 3;
  }
  .span-3-medium-plus {
    -ms-grid-column-span: 3;
        grid-column-end: span 3;
  }
}

@media only screen and (max-width: 599px) {
  .start-4-small {
    -ms-grid-column: 4;
        grid-column-start: 4;
  }
  .span-4-small {
    -ms-grid-column-span: 4;
        grid-column-end: span 4;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .start-4-medium {
    -ms-grid-column: 4;
        grid-column-start: 4;
  }
  .span-4-medium {
    -ms-grid-column-span: 4;
        grid-column-end: span 4;
  }
}

@media only screen and (min-width: 1025px) {
  .start-4-large {
    -ms-grid-column: 4;
        grid-column-start: 4;
  }
  .span-4-large {
    -ms-grid-column-span: 4;
        grid-column-end: span 4;
  }
}

@media only screen and (min-width: 600px) {
  .start-4-medium-plus {
    -ms-grid-column: 4;
        grid-column-start: 4;
  }
  .span-4-medium-plus {
    -ms-grid-column-span: 4;
        grid-column-end: span 4;
  }
}

@media only screen and (max-width: 599px) {
  .start-5-small {
    -ms-grid-column: 5;
        grid-column-start: 5;
  }
  .span-5-small {
    -ms-grid-column-span: 5;
        grid-column-end: span 5;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .start-5-medium {
    -ms-grid-column: 5;
        grid-column-start: 5;
  }
  .span-5-medium {
    -ms-grid-column-span: 5;
        grid-column-end: span 5;
  }
}

@media only screen and (min-width: 1025px) {
  .start-5-large {
    -ms-grid-column: 5;
        grid-column-start: 5;
  }
  .span-5-large {
    -ms-grid-column-span: 5;
        grid-column-end: span 5;
  }
}

@media only screen and (min-width: 600px) {
  .start-5-medium-plus {
    -ms-grid-column: 5;
        grid-column-start: 5;
  }
  .span-5-medium-plus {
    -ms-grid-column-span: 5;
        grid-column-end: span 5;
  }
}

@media only screen and (max-width: 599px) {
  .start-6-small {
    -ms-grid-column: 6;
        grid-column-start: 6;
  }
  .span-6-small {
    -ms-grid-column-span: 6;
        grid-column-end: span 6;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .start-6-medium {
    -ms-grid-column: 6;
        grid-column-start: 6;
  }
  .span-6-medium {
    -ms-grid-column-span: 6;
        grid-column-end: span 6;
  }
}

@media only screen and (min-width: 1025px) {
  .start-6-large {
    -ms-grid-column: 6;
        grid-column-start: 6;
  }
  .span-6-large {
    -ms-grid-column-span: 6;
        grid-column-end: span 6;
  }
}

@media only screen and (min-width: 600px) {
  .start-6-medium-plus {
    -ms-grid-column: 6;
        grid-column-start: 6;
  }
  .span-6-medium-plus {
    -ms-grid-column-span: 6;
        grid-column-end: span 6;
  }
}

@media only screen and (max-width: 599px) {
  .start-7-small {
    -ms-grid-column: 7;
        grid-column-start: 7;
  }
  .span-7-small {
    -ms-grid-column-span: 7;
        grid-column-end: span 7;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .start-7-medium {
    -ms-grid-column: 7;
        grid-column-start: 7;
  }
  .span-7-medium {
    -ms-grid-column-span: 7;
        grid-column-end: span 7;
  }
}

@media only screen and (min-width: 1025px) {
  .start-7-large {
    -ms-grid-column: 7;
        grid-column-start: 7;
  }
  .span-7-large {
    -ms-grid-column-span: 7;
        grid-column-end: span 7;
  }
}

@media only screen and (min-width: 600px) {
  .start-7-medium-plus {
    -ms-grid-column: 7;
        grid-column-start: 7;
  }
  .span-7-medium-plus {
    -ms-grid-column-span: 7;
        grid-column-end: span 7;
  }
}

@media only screen and (max-width: 599px) {
  .start-8-small {
    -ms-grid-column: 8;
        grid-column-start: 8;
  }
  .span-8-small {
    -ms-grid-column-span: 8;
        grid-column-end: span 8;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .start-8-medium {
    -ms-grid-column: 8;
        grid-column-start: 8;
  }
  .span-8-medium {
    -ms-grid-column-span: 8;
        grid-column-end: span 8;
  }
}

@media only screen and (min-width: 1025px) {
  .start-8-large {
    -ms-grid-column: 8;
        grid-column-start: 8;
  }
  .span-8-large {
    -ms-grid-column-span: 8;
        grid-column-end: span 8;
  }
}

@media only screen and (min-width: 600px) {
  .start-8-medium-plus {
    -ms-grid-column: 8;
        grid-column-start: 8;
  }
  .span-8-medium-plus {
    -ms-grid-column-span: 8;
        grid-column-end: span 8;
  }
}

@media only screen and (max-width: 599px) {
  .start-9-small {
    -ms-grid-column: 9;
        grid-column-start: 9;
  }
  .span-9-small {
    -ms-grid-column-span: 9;
        grid-column-end: span 9;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .start-9-medium {
    -ms-grid-column: 9;
        grid-column-start: 9;
  }
  .span-9-medium {
    -ms-grid-column-span: 9;
        grid-column-end: span 9;
  }
}

@media only screen and (min-width: 1025px) {
  .start-9-large {
    -ms-grid-column: 9;
        grid-column-start: 9;
  }
  .span-9-large {
    -ms-grid-column-span: 9;
        grid-column-end: span 9;
  }
}

@media only screen and (min-width: 600px) {
  .start-9-medium-plus {
    -ms-grid-column: 9;
        grid-column-start: 9;
  }
  .span-9-medium-plus {
    -ms-grid-column-span: 9;
        grid-column-end: span 9;
  }
}

@media only screen and (max-width: 599px) {
  .start-10-small {
    -ms-grid-column: 10;
        grid-column-start: 10;
  }
  .span-10-small {
    -ms-grid-column-span: 10;
        grid-column-end: span 10;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .start-10-medium {
    -ms-grid-column: 10;
        grid-column-start: 10;
  }
  .span-10-medium {
    -ms-grid-column-span: 10;
        grid-column-end: span 10;
  }
}

@media only screen and (min-width: 1025px) {
  .start-10-large {
    -ms-grid-column: 10;
        grid-column-start: 10;
  }
  .span-10-large {
    -ms-grid-column-span: 10;
        grid-column-end: span 10;
  }
}

@media only screen and (min-width: 600px) {
  .start-10-medium-plus {
    -ms-grid-column: 10;
        grid-column-start: 10;
  }
  .span-10-medium-plus {
    -ms-grid-column-span: 10;
        grid-column-end: span 10;
  }
}

@media only screen and (max-width: 599px) {
  .start-11-small {
    -ms-grid-column: 11;
        grid-column-start: 11;
  }
  .span-11-small {
    -ms-grid-column-span: 11;
        grid-column-end: span 11;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .start-11-medium {
    -ms-grid-column: 11;
        grid-column-start: 11;
  }
  .span-11-medium {
    -ms-grid-column-span: 11;
        grid-column-end: span 11;
  }
}

@media only screen and (min-width: 1025px) {
  .start-11-large {
    -ms-grid-column: 11;
        grid-column-start: 11;
  }
  .span-11-large {
    -ms-grid-column-span: 11;
        grid-column-end: span 11;
  }
}

@media only screen and (min-width: 600px) {
  .start-11-medium-plus {
    -ms-grid-column: 11;
        grid-column-start: 11;
  }
  .span-11-medium-plus {
    -ms-grid-column-span: 11;
        grid-column-end: span 11;
  }
}

@media only screen and (max-width: 599px) {
  .start-12-small {
    -ms-grid-column: 12;
        grid-column-start: 12;
  }
  .span-12-small {
    -ms-grid-column-span: 12;
        grid-column-end: span 12;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .start-12-medium {
    -ms-grid-column: 12;
        grid-column-start: 12;
  }
  .span-12-medium {
    -ms-grid-column-span: 12;
        grid-column-end: span 12;
  }
}

@media only screen and (min-width: 1025px) {
  .start-12-large {
    -ms-grid-column: 12;
        grid-column-start: 12;
  }
  .span-12-large {
    -ms-grid-column-span: 12;
        grid-column-end: span 12;
  }
}

@media only screen and (min-width: 600px) {
  .start-12-medium-plus {
    -ms-grid-column: 12;
        grid-column-start: 12;
  }
  .span-12-medium-plus {
    -ms-grid-column-span: 12;
        grid-column-end: span 12;
  }
}

.gapless {
  grid-gap: 0;
}

.gap-small {
  grid-gap: 0.5rem;
}

.gap {
  grid-gap: 1rem;
}

.gap-medium {
  grid-gap: 1.5rem;
}

.gap-large {
  grid-gap: 2rem;
}

.gap-xlarge {
  grid-gap: 2.5rem;
}

.one {
  width: calc(100% / 12);
}

.two {
  width: calc((100% / 6));
}

.three {
  width: calc(25%);
}

.four {
  width: calc(100% / 3);
}

.five {
  width: calc((100% / 12) * 5);
}

.six {
  width: 50%;
}

.seven {
  width: calc((100% / 12) * 7);
}

.eight {
  width: calc((100% / 3) * 2);
}

.nine {
  width: calc((100% / 12) * 9);
}

.ten {
  width: calc((100% / 12) * 10);
}

.eleven {
  width: calc((100% / 12) * 11);
}

.twelve {
  width: 100%;
}

@media only screen and (max-width: 599px) {
  .one-small {
    width: calc(100% / 12);
  }
  .two-small {
    width: calc((100% / 6));
  }
  .three-small {
    width: calc(25%);
  }
  .four-small {
    width: calc(100% / 3);
  }
  .five-small {
    width: calc((100% / 12) * 5);
  }
  .six-small {
    width: 50%;
  }
  .seven-small {
    width: calc((100% / 12) * 7);
  }
  .eight-small {
    width: calc((100% / 3) * 2);
  }
  .nine-small {
    width: calc((100% / 12) * 9);
  }
  .ten-small {
    width: calc((100% / 12) * 10);
  }
  .eleven-small {
    width: calc((100% / 12) * 11);
  }
  .twelve-small {
    width: 100%;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .one-medium {
    width: calc(100% / 12);
  }
  .two-medium {
    width: calc((100% / 6));
  }
  .six-medium {
    width: 50%;
  }
  .seven-medium {
    width: calc((100% / 12) * 7);
  }
  .eight-medium {
    width: calc((100% / 3) * 2);
  }
  .nine-medium {
    width: calc((100% / 12) * 9);
  }
  .ten-medium {
    width: calc((100% / 12) * 10);
  }
  .eleven-medium {
    width: calc((100% / 12) * 11);
  }
  .twelve-medium {
    width: 100%;
  }
}

@media only screen and (min-width: 1025px) {
  .one-large {
    width: calc(100% / 12);
  }
  .two-large {
    width: calc((100% / 6));
  }
  .three-large {
    width: calc(25%);
  }
  .four-large {
    width: calc(100% / 3);
  }
  .five-large {
    width: calc((100% / 12) * 5);
  }
  .six-large {
    width: 50%;
  }
  .seven-large {
    width: calc((100% / 12) * 7);
  }
  .eight-large {
    width: calc((100% / 3) * 2);
  }
  .nine-large {
    width: calc((100% / 12) * 9);
  }
  .ten-large {
    width: calc((100% / 12) * 10);
  }
  .eleven-large {
    width: calc((100% / 12) * 11);
  }
  .twelve-large {
    width: 100%;
  }
}

@media only screen and (min-width: 600px) {
  .one-medium-plus {
    width: calc(100% / 12);
  }
  .two-medium-plus {
    width: calc((100% / 6));
  }
  .three-medium-plus {
    width: calc(25%);
  }
  .four-medium-plus {
    width: calc(100% / 3);
  }
  .five-medium-plus {
    width: calc((100% / 12) * 5);
  }
  .six-medium-plus {
    width: 50%;
  }
  .seven-medium-plus {
    width: calc((100% / 12) * 7);
  }
  .eight-medium-plus {
    width: calc((100% / 3) * 2);
  }
  .nine-medium-plus {
    width: calc((100% / 12) * 9);
  }
  .ten-medium-plus {
    width: calc((100% / 12) * 10);
  }
  .eleven-medium-plus {
    width: calc((100% / 12) * 11);
  }
  .twelve-medium-plus {
    width: 100%;
  }
}

.z-under {
  z-index: -5;
}

.z-body {
  z-index: 0;
}

.z-under-nav-menu {
  z-index: 3;
}

.z-nav {
  z-index: 5;
}

.z-blocker {
  z-index: 10;
}

.z-menu {
  z-index: 15;
}

.z-context {
  z-index: 20;
}

.z-dialog {
  z-index: 25;
}

.none {
  display: none;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inline-flex {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.grid {
  display: -ms-grid;
  display: grid;
}

.inline-grid {
  display: -ms-inline-grid;
  display: inline-grid;
}

@media only screen and (max-width: 599px) {
  .hide-small, .show-medium, .show-large, .show-medium-plus {
    display: none !important;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .hide-medium, .show-small, .show-large {
    display: none !important;
  }
}

@media only screen and (min-width: 1025px) {
  .hide-large, .show-small, .show-medium {
    display: none !important;
  }
}

@media only screen and (min-width: 600px) {
  .hide-medium-plus, .show-small {
    display: none !important;
  }
}

.margin-auto {
  margin: auto;
}

.margin-left-auto {
  margin-left: auto;
}

.margin-right-auto {
  margin-right: auto;
}

.margin-top-auto {
  margin-top: auto;
}

.margin-bottom-auto {
  margin-bottom: auto;
}

.margin-x-auto {
  margin-left: auto;
  margin-right: auto;
}

.margin-y-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.padding-none {
  padding: 0;
}

.padding-left-none {
  padding-left: 0;
}

.padding-right-none {
  padding-right: 0;
}

.padding-top-none {
  padding-top: 0;
}

.padding-bottom-none {
  padding-bottom: 0;
}

.padding-x-none {
  padding-left: 0;
  padding-right: 0;
}

.padding-y-none {
  padding-top: 0;
  padding-bottom: 0;
}

.margin-none {
  margin: 0;
}

.margin-left-none {
  margin-left: 0;
}

.margin-right-none {
  margin-right: 0;
}

.margin-top-none {
  margin-top: 0;
}

.margin-bottom-none {
  margin-bottom: 0;
}

.margin-x-none {
  margin-left: 0;
  margin-right: 0;
}

.margin-y-none {
  margin-top: 0;
  margin-bottom: 0;
}

.padding-small {
  padding: 0.5rem;
}

.padding-left-small {
  padding-left: 0.5rem;
}

.padding-right-small {
  padding-right: 0.5rem;
}

.padding-top-small {
  padding-top: 0.5rem;
}

.padding-bottom-small {
  padding-bottom: 0.5rem;
}

.padding-x-small {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.padding-y-small {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.margin-small {
  margin: 0.5rem;
}

.margin-left-small {
  margin-left: 0.5rem;
}

.margin-right-small {
  margin-right: 0.5rem;
}

.margin-top-small {
  margin-top: 0.5rem;
}

.margin-bottom-small {
  margin-bottom: 0.5rem;
}

.margin-x-small {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.margin-y-small {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.padding {
  padding: 1rem;
}

.padding-left {
  padding-left: 1rem;
}

.padding-right {
  padding-right: 1rem;
}

.padding-top {
  padding-top: 1rem;
}

.padding-bottom {
  padding-bottom: 1rem;
}

.padding-x {
  padding-left: 1rem;
  padding-right: 1rem;
}

.padding-y {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.margin {
  margin: 1rem;
}

.margin-left {
  margin-left: 1rem;
}

.margin-right {
  margin-right: 1rem;
}

.margin-top {
  margin-top: 1rem;
}

.margin-bottom {
  margin-bottom: 1rem;
}

.margin-x {
  margin-left: 1rem;
  margin-right: 1rem;
}

.margin-y {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.padding-medium {
  padding: 1.5rem;
}

.padding-left-medium {
  padding-left: 1.5rem;
}

.padding-right-medium {
  padding-right: 1.5rem;
}

.padding-top-medium {
  padding-top: 1.5rem;
}

.padding-bottom-medium {
  padding-bottom: 1.5rem;
}

.padding-x-medium {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.padding-y-medium {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.margin-medium {
  margin: 1.5rem;
}

.margin-left-medium {
  margin-left: 1.5rem;
}

.margin-right-medium {
  margin-right: 1.5rem;
}

.margin-top-medium {
  margin-top: 1.5rem;
}

.margin-bottom-medium {
  margin-bottom: 1.5rem;
}

.margin-x-medium {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.margin-y-medium {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.padding-large {
  padding: 2rem;
}

.padding-left-large {
  padding-left: 2rem;
}

.padding-right-large {
  padding-right: 2rem;
}

.padding-top-large {
  padding-top: 2rem;
}

.padding-bottom-large {
  padding-bottom: 2rem;
}

.padding-x-large {
  padding-left: 2rem;
  padding-right: 2rem;
}

.padding-y-large {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.margin-large {
  margin: 2rem;
}

.margin-left-large {
  margin-left: 2rem;
}

.margin-right-large {
  margin-right: 2rem;
}

.margin-top-large {
  margin-top: 2rem;
}

.margin-bottom-large {
  margin-bottom: 2rem;
}

.margin-x-large {
  margin-left: 2rem;
  margin-right: 2rem;
}

.margin-y-large {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.padding-xlarge {
  padding: 2.5rem;
}

.padding-left-xlarge {
  padding-left: 2.5rem;
}

.padding-right-xlarge {
  padding-right: 2.5rem;
}

.padding-top-xlarge {
  padding-top: 2.5rem;
}

.padding-bottom-xlarge {
  padding-bottom: 2.5rem;
}

.padding-x-xlarge {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.padding-y-xlarge {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.margin-xlarge {
  margin: 2.5rem;
}

.margin-left-xlarge {
  margin-left: 2.5rem;
}

.margin-right-xlarge {
  margin-right: 2.5rem;
}

.margin-top-xlarge {
  margin-top: 2.5rem;
}

.margin-bottom-xlarge {
  margin-bottom: 2.5rem;
}

.margin-x-xlarge {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.margin-y-xlarge {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.column-reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.justify-flex-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.justify-flex-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-space-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.justify-space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.align-flex-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.align-flex-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.align-stretch {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.align-space-around {
  -webkit-box-align: space-around;
      -ms-flex-align: space-around;
          align-items: space-around;
}

.align-space-between {
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
}

.flex-grow {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.static {
  position: static;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
}

.top {
  top: 0;
}

.bottom {
  bottom: 0;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

@media only screen and (max-width: 599px) {
  .text-center-small {
    text-align: center;
  }
  .text-left-small {
    text-align: left;
  }
  .text-right-small {
    text-align: right;
  }
  .text-justify-small {
    text-align: justify;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .text-center-medium {
    text-align: center;
  }
  .text-left-medium {
    text-align: left;
  }
  .text-right-medium {
    text-align: right;
  }
  .text-justify-medium {
    text-align: justify;
  }
}

@media only screen and (min-width: 1025px) {
  .text-center-large {
    text-align: center;
  }
  .text-left-large {
    text-align: left;
  }
  .text-right-large {
    text-align: right;
  }
  .text-justify-large {
    text-align: justify;
  }
}

@media only screen and (min-width: 600px) {
  .text-center-medium-plus {
    text-align: center;
  }
  .text-left-medium-plus {
    text-align: left;
  }
  .text-right-medium-plus {
    text-align: right;
  }
  .text-justify-medium-plus {
    text-align: justify;
  }
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.center-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.center-child > * {
  margin: auto;
}

.center-child-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.center-child-child > * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

ul.remove-list-style {
  list-style-type: none;
  padding-left: none;
}

.prototype {
  background-color: transparent;
}

.prototype * {
  outline: 1px dashed #34495e;
  outline-offset: -1;
  background-color: rgba(35, 49, 64, 0.5) !important;
  color: white !important;
}

.prototype *:hover {
  background-color: #233140;
  outline: 1px dashed #3e5871;
}

.prototype-grid {
  display: none;
}

.prototype > .prototype-grid {
  display: -ms-grid;
  display: grid;
  pointer-events: none;
  background-color: #2c3e50 !important;
}

.prototype > .prototype-grid > span {
  background-color: #2c3e50;
}

.fixed-center {
  position: fixed;
  left: 50vw;
  top: 50vh;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media only screen and (max-width: 599px) {
  .fixed-center {
    will-change: transform;
  }
  .fixed-center-small {
    position: fixed;
    left: 50vw;
    top: 50vh;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    will-change: transform;
  }
  .fixed-fill-small {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    will-change: transform;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .fixed-fill-mediun, .fixed-fill-medium-plus {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
  }
  .fixed-center-medium, .fixed-center-medium-plus {
    position: fixed;
    left: 50vw;
    top: 50vh;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@media only screen and (min-width: 1025px) {
  .fixed-fill-large, .fixed-fill-medium-plus {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
  }
  .fixed-center-large, .fixed-center-medium-plus {
    position: fixed;
    left: 50vw;
    top: 50vh;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

.fixed-fill {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}

.wide {
  width: 100%;
}

.high {
  height: 100vh;
}

.page-wide {
  width: 100vw;
}

@media only screen and (max-width: 599px) {
  .high-small {
    height: 100vh;
    overflow: auto;
  }
}

hr {
  opacity: 0.1;
}

.max-high {
  max-height: 100vh;
}

.max-wide {
  max-width: 100%;
}

.overflow-auto {
  overflow: auto;
}

.will-change {
  will-change: transform, opacity;
}

.bold {
  font-weight: bold !important;
}

.primary {
  cursor: pointer;
  font-weight: bold;
  background-color: #1a73e8;
  color: white;
  font-weight: bold;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.primary * {
  color: white;
  fill: white;
  font-weight: bold;
}

.primary:hover {
  background-color: #135cbc;
}

.primary:hover * {
  color: white;
  fill: white;
}

.primary:active {
  background-color: #1151a5;
}

.primary:active * {
  color: white;
  fill: white;
}

.flat {
  cursor: pointer;
  font-weight: bold;
  background-color: transparent;
  color: #444;
}

.flat:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.flat:active {
  background-color: rgba(0, 0, 0, 0.2);
}

.shadow, .card {
  background-color: white;
  -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}

.card {
  border-radius: 0.25rem;
}

.light {
  background-color: #fafafa;
}

.weekBooking {
  z-index: 1;
  border-left: 4px solid #1a73e8;
  border-radius: 0.25rem;
  padding: 1rem;
  cursor: pointer;
  background-color: rgba(26, 115, 232, 0.1);
  border-bottom: 0px;
  background-color: #1a73e8;
  margin: 4px;
  color: white;
}

.fade-enter-active, .fade-leave-active, .fade-delayed-enter-active, .fade-delayed-leave-active {
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

.fade-enter, .fade-leave-to, .fade-delayed-enter, .fade-delayed-leave-to {
  opacity: 0;
}

.fade-delayed-enter-active {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.fade-delayed-leave-active {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.slide-right-enter-active, .slide-right-leave-active {
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.slide-right-enter, .slide-right-leave-to {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.slide-down-enter-active, .slide-down-leave-active {
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.slide-down-enter, .slide-down-leave-to {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.slide-left-enter-active, .slide-left-leave-active {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.slide-left-enter {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.slide-left-leave-to {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.center-scale-enter-active, .center-scale-leave-active {
  -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
  transition: opacity 0.2s, -webkit-transform 0.2s;
  transition: transform 0.2s, opacity 0.2s;
  transition: transform 0.2s, opacity 0.2s, -webkit-transform 0.2s;
}

.center-scale-enter, .center-scale-leave-to {
  -webkit-transform: translate(-50%, -50%) scale(0.85);
          transform: translate(-50%, -50%) scale(0.85);
  opacity: 0;
}

.switch-up-enter-active, .switch-up-delayed-enter-active {
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.switch-up-leave-active, .switch-up-delayed-leave-active {
  -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
  transition: opacity 0.2s, -webkit-transform 0.2s;
  transition: transform 0.2s, opacity 0.2s;
  transition: transform 0.2s, opacity 0.2s, -webkit-transform 0.2s;
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
}

.switch-up-delayed-leave-active {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.switch-up-enter, .switch-up-delayed-enter {
  opacity: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.switch-up-leave-to, .switch-up-delayed-leave-to {
  opacity: 0;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

@-webkit-keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

.animated-background {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: placeHolderShimmer;
          animation-name: placeHolderShimmer;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  background: darkgray;
  background: -webkit-gradient(linear, left top, right top, color-stop(10%, #dddddd), color-stop(25%, #eaeaea), color-stop(40%, #dddddd));
  background: linear-gradient(to right, #dddddd 10%, #eaeaea 25%, #dddddd 40%);
  background-size: 2000px 104px;
  height: 100px;
  position: relative;
}

*, *:after, *:before {
  font-family: 'Proxima Soft', sans-serif;
  color: #333;
}

body {
  overflow-x: hidden;
}

a {
  cursor: pointer;
  font-weight: bold;
  color: #aaa;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

a > *, a svg > path {
  color: #aaa;
  -webkit-transition: color 0.2s, fill 0.2s;
  transition: color 0.2s, fill 0.2s;
  fill: #aaa;
}

a:hover {
  color: #333;
}

a:hover > *, a:hover svg > path {
  color: #333;
  -webkit-transition: color 0.2s, fill 0.2s;
  transition: color 0.2s, fill 0.2s;
  fill: #333;
}

a.active {
  font-weight: bold;
  color: #333;
}

a.active > *, a.active svg > path {
  color: #333;
  fill: #333;
}

.special {
  border-radius: 2rem;
}

.special.active {
  background-color: #e8f0fe;
  color: #1a73e8;
}

.special.active > *, .special.active svg > path {
  color: #1a73e8;
  fill: #1a73e8;
}

button {
  border-radius: 0.25rem;
  cursor: pointer;
  background-color: #eaeaea;
  font-size: 0.92rem !important;
  font-weight: bold;
  text-transform: uppercase;
}

button:hover {
  background-color: #cacaca;
}

button:active {
  background-color: #aaaaaa;
}

table {
  border-spacing: 0;
}

table td, table th {
  color: #333333;
  text-align: left;
  padding: 1rem 1rem 1rem 0;
  border-bottom: 1px solid #f0f0f0;
}

table td:last-child, table th:last-child {
  padding-right: 0;
}

input, textarea, select {
  border-radius: 0.25rem;
  border: 2px solid #eeeeee;
  background-color: #fdfdfd;
  padding: 0.75rem;
  margin-bottom: 0.5rem;
}

* + input, textarea, select {
  margin-top: 0.5rem;
}

fieldset {
  border: 1px solid #ccc;
}
/*# sourceMappingURL=style.css.map */